#button-contact-vr {
    max-height: 100vh;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 85%;
    transform: translateY(-50%);
    z-index: 999;
}

.button-contact {
    position: relative;
    margin-top: -5px;
    &#zalo-vr {
        .phone-vr-circle-fill {
            box-shadow: 0 0 0 0 rgb(24 119 242 / 65%) !important;
            background-color: rgba(33, 150, 243, 0.7) !important;
        }
    }
    &#phone-vr3 {
        .phone-vr-circle-fill {
            opacity: 0.5 !important;
            box-shadow: 0 0 0 0 #81d742 !important;
            background-color: #81d742 !important;
        }
    }
    .phone-vr {
        position: relative;
        visibility: visible;
        background-color: transparent;
        width: 90px;
        height: 90px;
        cursor: pointer;
        z-index: 11;
        transition: visibility .5s;
        left: 0;
        bottom: 0;
        display: block;
        .phone-vr-circle-fill {
            box-shadow: 0 0 0 0 rgb(24 119 242 / 65%);
            background-color: rgb(24 119 242 / 70%);
            width: 65px;
            height: 65px;
            top: 12px;
            left: 12px;
            position: absolute;
            box-shadow: 0 0 0 0 #c31d1d;
            border-radius: 50%;
            border: 2px solid transparent;
        }
        .phone-vr-img-circle {
            background-color: #e60808;
            width: 40px;
            height: 40px;
            line-height: 40px;
            top: 25px;
            left: 25px;
            position: absolute;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            // -webkit-animation: phonering-alo-circle-img-anim 1s infinite ease-in-out;
            // animation: phone-vr-circle-fill 1s infinite ease-in-out;
            img {
                max-width: 35px;
                max-height: 35px;
            }
        }
    }
}