.section-bg {
  background-image: url(../../../assets/images/map-section-bgr.jpg);
  width: 100%;
  height: 720px;
  background-position: 50% 50%;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  opacity: 1;

  .fill {
    height: 100%;
    left: 0;
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    right: 0;
    top: 0;
  }

  .section-bg-overlay {
    background-color: rgba(255, 255, 255, 0.866);
  }

  .content {
    height: 100%;
  }

  .row {
    height: 100%;
    max-width: 1172px;
    margin: 0px auto;
    padding: 50px 0;
  }
  .devider {
    height: 100%;
    width: 5%;
    float: left;
  }
  .col {
    height: 100%;
    width: 47.5%;
    float: left;
  }

  .col h2 {
    color: #000;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 150%;
    margin-bottom: 20px;
  }
  .col img {
    // height: 100%;
    border: 4px solid #2d63f7;
    border-radius: 5%;
    transition: 0.3s;
  }

  .col img:hover,
  .col img:active {
    scale: 1.03;
  }
}
