.scroll-to-bullets {
    max-height: 100vh;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 999;
    a {
        border: 3px solid transparent;
        border-radius: 30px;
        background-color: #141414;
        box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
        display: block;
        height: 15px;
        margin: 10px 15px;
        transition: all .3s;
        width: 15px;
        &:hover {
            background-color: #fff;
            opacity: 1;
            outline-width: 2px;
            border-color: #141414;
        }
    }
}