@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Sawarabi+Gothic&display=swap);
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    font-family: Inter, sans-serif;
    color: #f1f1f1;
}

html {
    scroll-behavior: smooth;
    cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="48" viewBox="0 0 48 48"><foreignObject width="100%" height="100%"><div xmlns="http://www.w3.org/1999/xhtml" style="width:100%;height:100%;background:%231095c1;clip-path: polygon(100.00% 50.00%,77.72% 61.48%,85.36% 85.36%,61.48% 77.72%,50.00% 100.00%,38.52% 77.72%,14.64% 85.36%,22.28% 61.48%,0.00% 50.00%,22.28% 38.52%,14.64% 14.64%,38.52% 22.28%,50.00% 0.00%,61.48% 22.28%,85.36% 14.64%,77.72% 38.52%);" ></div></foreignObject></svg>') 18 18, auto;
}